<div class='container' style='width:50%'>
	<div class='starter-template'>
		<div class='alert alert-primary'>
			<div>
				<span><strong>Hasta luego {{user}}</strong></span>
			</div>
		</div>
	</div>
</div>