{{#if invalid_user}}
	<div class='alert alert-danger'>
		<div>
			<span><strong>Usuario inválido</strong></span>
		</div>
	</div>
{{/if}}

<h1 class='text-primary'>Login de Usuario</h1>

<form action='/login' method='POST'>
	<label for='user' class='col-form-label'>Ingrese su nombre: </label>
	<div class='form-group row'>

		<div class='col-sm-10'>
			<input id='user' class='form-control' type='text' name='user' />
		</div>
	</div>

	<div class='form-group row' style='padding-top: 10px'>
		<div class='col-sm-10'>
			<button type='submit' class='btn btn-success'>Enviar</button>
		</div>
	</div>
</form>