<nav class='navbar navbar-expand-lg navbar-light bg-light'>

	<div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
		<div class='navbar-nav'>
			<a class='nav-item nav-link {{#if catalog}}active{{/if}}' href='/api/products/catalog'>Catalogo de Productos</a>
			<a class='nav-item nav-link {{#if cart}}active{{/if}}' href='/api/carts/userCart'>Mi Carrito</a>
			<a class='nav-item nav-link {{#if profile}}active{{/if}}' href='/api/user/profile'>Mi Perfil</a>
		</div>
	</div>
</nav>